todo{
  padding: 0;
  //width: 200px;
}

.todo li {
  padding: 4px;
  background-color: deepskyblue;
  color: black;
  margin: 5px 20px;
}
.crossButton{
  float: right;
  margin: 0 5px;
  background-color: red;
  color: black;
  cursor: pointer;
}
